.header{
    background-color: #f9e2c8;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    border-bottom: 5px solid #e4b48c;
}
.logo{
    width: 50px;
    height: 50px;
    
}

.nav{
    background-color: #fff3e0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border-bottom: 5px solid #e4b48c;
}
.nav-item{
    background-color: #f28c8c;
    margin: 0px 10px;
    border-radius: 12px;

    padding: 5px 10px;
}
.nav-item a{
    text-decoration: none;
    color: brown;
    font-weight: bold;  
}

.index{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.index-item section{
    background-color: #fff8ee;
    border-radius: 25px;
    
    padding: 25px;
    margin-bottom: 40px;
    max-width: 1100px;
    box-shadow: 3px 3px 10px -5px #ccc; 
}
.index-item section h3{
    text-align: center;
}

.footer{
    background-color: #f9e2c8;
    text-align: center;
    padding: 15px;
    border-top: 5px solid #e4b48c;
}



.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.login form{
    text-align: center;
    margin-bottom: 70px;
}
input{
    background-color: #fff8ee;
    border: 2px solid #e4b48c;
}
input[type=submit]{
    background-color: #f28c8c;
    font-weight: bold;
    color: #ffffff;
    border-radius: 12px;
    padding: 8px 14px;
    cursor: pointer;
    border: none;
    margin: 20px;
}





.summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}
.summary table{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: #fff8ee;
    margin-bottom: 10px;
}
.summary th, td{
    border: 1px solid black;
    padding: 10px 15px;
    text-align: left;
}
.summary button{
    background-color: #f28c8c;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    padding: 8px 14px;
    cursor: pointer;
    border: none;
    margin: 10px;
}

.menu-view {
    display: flex;
    flex-direction: column;
    margin: 10px 50px 10px 50px;
}

.season-dropdown {
    text-align: center;
    align-items: center;
    background-color: #fff8ee;
    border: 2px solid #e4b48c;
    border-radius: 10px;
    padding: 6px 10px;
    margin-bottom: 20px;
}

.flavors {
    text-align: center;
    align-items: center;
    background-color: #fff8ee;
    border: 2px solid #e4b48c;
    border-radius: 10px;
    padding: 6px 10px;
    margin-bottom: 20px;
}

.tile {
    display: inline-block;
    background-color: #ffffff;
    border: 20px solid #e4b48c;
    padding: 15px;
    margin: 15px;
    width: 25%;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.tile img {
    width: 120px;
    border-radius: 10px;
}

.order-button {
    display: inline-block;
    background-color: #f28c8c;
    color: white;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 12px;
    text-decoration: none;
}

.add-button {
    display: inline-block;
    background-color: #f28c8c;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    padding: 8px 14px;
    text-decoration: none;
    border: none;
}

.remove-button {
    display: inline-block;
    background-color: #c94c4c;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    padding: 8px 14px;
    text-decoration: none;
    border: none;
}

.add-button:hover {
    cursor: pointer;
}

.remove-button:hover {
    cursor: pointer;
}

.customize-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    padding: 20px;
    margin: auto;
}

.order-form {
    text-align: center;
}

.customize-order img {
    width: 300px;
    margin-bottom: 15px;
}

.submit-select {
    text-decoration: none;
    margin: 0px 10px;
    color: white;
    background-color: #f28c8c;
    font-weight: bold;
    border-radius: 12px;
    padding: 5px 8px;
    border: none;
}

.finish-button {
    text-decoration: none;
    margin: 0px 10px;
    color: white;
    background-color: #f28c8c;
    font-weight: bold;
    border-radius: 12px;
    padding: 5px 8px;
    border: none;
}

.submit-select:hover {
    cursor: pointer;
}

.finish-button:hover {
    cursor: pointer;
}